
    <footer class="yoo-footer yoo-style1">
        <div class="container-fluid">
            <div class="yoo-footer-content">
                <div class="yoo-copyride"> 
                    &copy; <a href="https://yookits.com/" target="_blank">YooKits</a> - Coded by <a href="https://appseed.us">AppSeed</a>.
                </div>
                <ul class="yoo-footer-nav yoo-mp0 yoo-flex">
                    <li class="yoo-copyride">
                        <a href="https://appseed.us/admin-dashboards/flask-idashboard-free">Flask iDashboard Free</a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
