
  <div class="yoo-sidebarheader-toggle">
    <div class="yoo-button-bar1"></div>
    <div class="yoo-button-bar2"></div>
    <div class="yoo-button-bar3"></div>
  </div><!-- .yoo-sidebarheader-toggle -->
  <div class="yoo-sidebarheader">
    <div class="yoo-add">
      <div class="yoo-add-in">
        <a target="_blank" 
           href="https://appseed.us/admin-dashboards/flask-idashboard-pro" class="yoo-add-thumb">
          <img src="/static/assets/img/idashboard.jpg" alt="MaterialXPro">
        </a>
        <h2 class="yoo-add-title">
          <a target="_blank" 
             href="https://appseed.us/admin-dashboards/flask-idashboard-free/">Want More? Go Pro!</a>
        </h2>
        <a target="_blank" 
           href="https://appseed.us/admin-dashboards/flask-idashboard-pro" 
           class="yoo-add-btn btn btn-success btn-sm">Flask iDashboard PRO</a>
      </div>
    </div>
    <div class="yoo-sidebarheader-in" data-scrollbar>
      <div class="yoo-sidebar-search">
        <form action="#" class="yoo-search yoo-style1 yoo-search-md">
          <input type="text" placeholder="Search..." class="yoo-search-input">
          <button class="yoo-search-submit"><ion-icon name="search"></ion-icon></button>
          <button class="yoo-voice-btn"><ion-icon name="mic"></ion-icon></button>
        </form>
      </div>
      <div class="yoo-sidebar-nav">
        <ul class="yoo-sidebar-nav-list yoo-mp0">
          <li class="active">
            <a href="/">
              <span class="yoo-sidebar-link-title">
                <span class="yoo-sidebar-link-icon yoo-style1"><ion-icon name="layers"></ion-icon></span>
                <span class="yoo-sidebar-link-text">Dashboard</span>
              </span>
            </a>
          </li>
          <li>
            <a href="/settings.html">
              <span class="yoo-sidebar-link-title">
                <span class="yoo-sidebar-link-icon yoo-style1"><ion-icon name="create"></ion-icon></span>
                <span class="yoo-sidebar-link-text">Profile Settings</span>
              </span>
            </a>
          </li>
          <li>
            <a href="/calender.html">
              <span class="yoo-sidebar-link-title">
                <span class="yoo-sidebar-link-icon yoo-style1"><ion-icon name="calendar"></ion-icon></span>
                <span class="yoo-sidebar-link-text">Calender</span>
              </span>
            </a>
          </li>
          <li class="yoo-sidebar-has-children">
            <a href="#" >
              <span class="yoo-sidebar-link-title">
                <span class="yoo-sidebar-link-icon yoo-style1"><ion-icon name="person-circle"></ion-icon></span>
                <span class="yoo-sidebar-link-text">Sign In/Sign Up</span>
              </span>
            </a>
            <ul class="yoo-sidebar-nav-dropdown">
              <li>
                <a href="/signin.html" >
                  <span class="yoo-sidebar-link-title">
                    <span class="yoo-sidebar-link-text">Log In</span>
                  </span>
                </a>
              </li>
              <li>
                <a href="/signup.html" >
                  <span class="yoo-sidebar-link-title">
                    <span class="yoo-sidebar-link-text">Sign Up</span>
                  </span>
                </a>
              </li>
            </ul>
          </li>
          <li>
            <a href="/alerts.html">
              <span class="yoo-sidebar-link-title">
                <span class="yoo-sidebar-link-icon yoo-style1"><ion-icon name="notifications"></ion-icon></span>
                <span class="yoo-sidebar-link-text">Notifications</span>
              </span>
            </a>
          </li>
          <li>
            <a href="/buttons.html">
              <span class="yoo-sidebar-link-title">
                <span class="yoo-sidebar-link-icon yoo-style1"><ion-icon name="albums"></ion-icon></span>
                <span class="yoo-sidebar-link-text">Buttons</span>
              </span>
            </a>
          </li>
          <li>
            <a href="/tables.html">
              <span class="yoo-sidebar-link-title">
                <span class="yoo-sidebar-link-icon yoo-style1"><ion-icon name="cube"></ion-icon></span>
                <span class="yoo-sidebar-link-text">Table</span>
              </span>
            </a>
          </li>
          <li>
            <a href="/forms.html">
              <span class="yoo-sidebar-link-title">
                <span class="yoo-sidebar-link-icon yoo-style1"><ion-icon name="duplicate"></ion-icon></span>
                <span class="yoo-sidebar-link-text">Forms</span>
              </span>
            </a>
          </li>
          <li>
            <a href="/pagination.html">
              <span class="yoo-sidebar-link-title">
                <span class="yoo-sidebar-link-icon yoo-style1"><ion-icon name="trail-sign"></ion-icon></span>
                <span class="yoo-sidebar-link-text">Pagination</span>
              </span>
            </a>
          </li>
          <li>
            <a href="/typography.html">
              <span class="yoo-sidebar-link-title">
                <span class="yoo-sidebar-link-icon yoo-style1"><ion-icon name="text"></ion-icon></span>
                <span class="yoo-sidebar-link-text">Typography</span>
              </span>
            </a>
          </li>
          <li class="yoo-sidebar-has-children">
            <a href="#" >
              <span class="yoo-sidebar-link-title">
                <span class="yoo-sidebar-link-icon yoo-style1"><ion-icon name="cloud"></ion-icon></span>
                <span class="yoo-sidebar-link-text">Components</span>
              </span>
            </a>
            <ul class="yoo-sidebar-nav-dropdown">
              <li>
                <a href="/badge.html" >
                  <span class="yoo-sidebar-link-title">
                    <span class="yoo-sidebar-link-text">Badge</span>
                  </span>
                </a>
              </li>
              <li>
                <a href="/breadcrumb.html" >
                  <span class="yoo-sidebar-link-title">
                    <span class="yoo-sidebar-link-text">Breadcrumb</span>
                  </span>
                </a>
              </li>
              <li>
                <a href="/card.html" >
                  <span class="yoo-sidebar-link-title">
                    <span class="yoo-sidebar-link-text">Card</span>
                  </span>
                </a>
              </li>
              <li>
                <a href="/carousel.html" >
                  <span class="yoo-sidebar-link-title">
                    <span class="yoo-sidebar-link-text">Carousel</span>
                  </span>
                </a>
              </li>
              <li>
                <a href="/dropdowns.html" >
                  <span class="yoo-sidebar-link-title">
                    <span class="yoo-sidebar-link-text">Dropdowns</span>
                  </span>
                </a>
              </li>
              <li>
                <a href="/list-group.html" >
                  <span class="yoo-sidebar-link-title">
                    <span class="yoo-sidebar-link-text">List Group</span>
                  </span>
                </a>
              </li>
              <li>
                <a href="/modal.html" >
                  <span class="yoo-sidebar-link-title">
                    <span class="yoo-sidebar-link-text">Modal</span>
                  </span>
                </a>
              </li>
              <li>
                <a href="/progress.html" >
                  <span class="yoo-sidebar-link-title">
                    <span class="yoo-sidebar-link-text">Progress</span>
                  </span>
                </a>
              </li>
              <li>
                <a href="/tooltips.html" >
                  <span class="yoo-sidebar-link-title">
                    <span class="yoo-sidebar-link-text">Tooltips</span>
                  </span>
                </a>
              </li>
            </ul>
          </li>
          <li>
            <a href="/icons.html">
              <span class="yoo-sidebar-link-title">
                <span class="yoo-sidebar-link-icon yoo-style1"><ion-icon name="archive"></ion-icon></span>
                <span class="yoo-sidebar-link-text">Icons</span>
              </span>
            </a>
          </li>
          <li>
            <a href="/svgmaps.html">
              <span class="yoo-sidebar-link-title">
                <span class="yoo-sidebar-link-icon yoo-style1"><ion-icon name="map"></ion-icon></span>
                <span class="yoo-sidebar-link-text">SVG Maps</span>
              </span>
            </a>
          </li>
          <li>
            <a href="/documentation.html" >
              <span class="yoo-sidebar-link-title">
                <span class="yoo-sidebar-link-icon yoo-style1"><ion-icon name="reader"></ion-icon></span>
                <span class="yoo-sidebar-link-text">UI Docs</span>
              </span>
            </a>
          </li>
          <li>
            <a target="_blank"
               href="https://github.com/app-generator/flask-idashboard-free" >
              <span class="yoo-sidebar-link-title">
                <span class="yoo-sidebar-link-icon yoo-style1"><ion-icon name="code-slash-outline"></ion-icon></span>
                <span class="yoo-sidebar-link-text">App Source Code</span>
              </span>
            </a>
          </li>   
          <li>
            <a href={{ url_for('base_blueprint.logout') }} >
              <span class="yoo-sidebar-link-title">
                <span class="yoo-sidebar-link-icon yoo-style1"><ion-icon name="log-out-outline"></ion-icon></span>
                <span class="yoo-sidebar-link-text">Logout</span>
              </span>
            </a>
          </li> 
        </ul><!-- .yoo-sidebar-nav-list -->
      </div>
    </div>
  </div><!-- .yoo-sidebarheader -->